@charset "UTF-8";
@font-face {
  font-family: "Graphik";
  src: url(../fonts/GraphikLCG-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url(../fonts/GraphikLCG-Medium.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
div[class*=__container] {
  max-width: 1097px;
  margin: 0 auto;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #181818;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.hidden-content {
  overflow: hidden;
}

/*Очищаем все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Меняет подсчет ширины блока, для более удобной верстки*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*Убираем линии обводки у некоторых браузеров*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Добавляет HTML5 тегам значение блок*/
nav, footer, header, aside {
  display: block;
}

/*Уравнивают поведение шрифтов и элементов в разных браузерах*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Включаем наследование семейства шрифта для тегов form*/
input, button, textarea {
  font-family: inherit;
}

/*Убирают особенности отображения некоторых браузеров*/
input::-ms-clear {
  display: none;
} /*превдоэлемент, который убирает крестик в текстовом поле ввода Бразуера Microsoft*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*убирает лишние отступы вокруг кнопок в Mozila*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Обнуление заголовков*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #181818;
}
.header__container {
  display: flex;
  align-items: center;
  padding: 34px 15px;
}
.header__logo {
  flex: 0 1 142px;
}
.header__menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}
.header__button-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.header__button {
  flex: 0 1 145px;
  padding: 13.5px 46px;
}
.header__menu-icon {
  display: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.header__menu-icon span {
  position: absolute;
  border-radius: 4px;
  width: 40px;
  height: 4px;
  background-color: #EEE;
  transition: all 0.3s ease-in-out;
}
.header__menu-icon span:nth-child(1) {
  transform: translateY(12px);
}
.header__menu-icon span:nth-child(3) {
  transform: translateY(-12px);
}
.header__menu-icon_open span:nth-child(1) {
  transform: translateY(0px) rotate(-45deg);
}
.header__menu-icon_open span:nth-child(2) {
  opacity: 0;
}
.header__menu-icon_open span:nth-child(3) {
  transform: translateY(0px) rotate(45deg);
}

.nav-header__list {
  display: flex;
  gap: 31px;
}
.nav-header__item {
  display: inline-flex;
  transition: all 0.3s ease-out;
}
.nav-header__item:hover {
  transform: translateY(-5px);
}
.nav-header__item:active {
  transform: translateY(5px);
}
.nav-header__link {
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
  .header__button:hover {
    transform: scale(1);
  }
  .header__button:active {
    transition: all 0.1s ease-in;
    transform: translateY(3px);
  }
  .nav-header__list {
    gap: 0;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .header__container {
    padding: 28px 15px;
    justify-content: space-between;
    position: relative;
  }
  .header__menu {
    display: none;
  }
  .header__logo, .header__button-container {
    z-index: 3;
  }
  .header__menu-icon {
    display: flex;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #181818;
    transition: all 0.3s ease-in-out;
  }
  .header__menu_open {
    left: 0;
  }
  .nav-header {
    margin-top: 100px;
    width: 100%;
    height: 100%;
  }
  .nav-header__list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .nav-header__item {
    width: 65%;
  }
  .nav-header__link {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    padding: 20px 15px;
  }
  .header__logo {
    transition: all ease-in-out 0.3s;
    flex: 0 1 60px;
    overflow: hidden;
  }
  .header__button {
    padding: 10px 30px;
  }
}
.title-block {
  background-color: #181818;
}
.title-block__container {
  padding: 50px 15px 35px;
}

.text-block_big-title {
  max-width: 800px;
  margin: 0 auto;
  font-family: Graphik;
  font-size: 80px;
  font-weight: 500;
  line-height: 110%;
  /* 88px*/
  letter-spacing: 0.2px;
}
.text-block_big-title:not(:last-child) {
  margin-bottom: 17px;
}
.text-block_big-text {
  max-width: 795px;
}
.text-block_big-text:not(:last-child) {
  margin-bottom: 85px;
}
.text-block__button-container {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.text-block__btn-blue {
  flex: 0 1 288px;
  padding: 20px 40px;
}
.text-block__btn {
  flex: 0 1 210px;
  padding: 19px 38px;
}

@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .title-block__container {
    padding: 25px 15px 35px;
  }
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-block__title {
    max-width: 600px;
    font-size: 52px;
    font-weight: 400;
    line-height: 119.231%;
    /* 62px*/
  }
  .text-block__title:not(:last-child) {
    margin-bottom: 0;
  }
  .text-block__text {
    max-width: 586px;
  }
  .text-block__text:not(:last-child) {
    margin-bottom: 57px;
  }
  .text-block__button-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 21px;
  }
}
.picture-block {
  max-width: 100%;
  max-height: 993px;
  padding-bottom: 15%;
  background-color: #181818;
  position: relative;
}
.picture-block__img {
  width: 100%;
  max-height: 841px;
  -o-object-fit: contain;
     object-fit: contain;
}
.picture-block__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}

@media (max-width: 767.98px) {
  .picture-block {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
  }
  .picture-block__img {
    width: 152.3%;
  }
  .picture-block__gradient {
    height: 75%;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #0E0E0E 100%);
  }
}
.text-block__title_possibilities:not(:last-child) {
  margin-bottom: 7px;
}
.text-block__text_possibilities {
  max-width: 795px;
}
.text-block:not(:last-child) {
  margin-bottom: 70px;
}

.possibilities__container {
  padding: 162px 15px 162px;
}
.possibilities__content {
  width: 100%;
  display: flex;
}
.possibilities__img {
  flex: 0 1 68%;
}
.possibilities__cards-container {
  gap: 25px;
  flex: 0 1 32%;
  padding: 97px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card-small__text_width-3 {
  max-width: 202px;
}

@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
  .possibilities__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .possibilities__img {
    flex: 0 1 100%;
    text-align: center;
  }
  .possibilities__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .possibilities__cards-container {
    gap: 0;
    flex: 0 1 100%;
    padding: 97px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
  .possibilities__cards-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .possibilities__container {
    padding: 62px 15px 62;
  }
  .possibilities__cards-container {
    padding: 27px 0 0;
  }
  .text-block__text_possibilities {
    max-width: 795px;
  }
  .text-block:not(:last-child) {
    margin-bottom: 27px;
  }
}
@media (max-width: 479.98px) {
  .possibilities__container {
    padding: 32px 0px 32px;
  }
  .text-block__title_possibilities {
    font-size: 42px;
  }
  .text-block__title_possibilities:not(:last-child) {
    margin-bottom: 4px;
  }
}
.extensions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 50px;
}
.extensions__cards-container {
  display: flex;
  width: 100%;
  gap: 33px;
  justify-content: center;
}
.card-extensions {
  display: flex;
  flex: 0 1 43.5%;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  background: #FFF;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.card-extensions__title {
  max-width: 372px;
  color: #000;
  text-align: center;
  /* Title */
  font-family: Graphik;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  /*30px*/
  letter-spacing: 0.1px;
}
.card-extensions__title:not(:last-child) {
  margin-bottom: 20px;
}
.card-extensions__text {
  max-width: 372px;
  padding: 0 10px;
  color: #5C5C5C;
  text-align: center;
  /* Paragraphe */
  font-family: Graphik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /*24px*/
  letter-spacing: 0.2px;
}
.card-extensions__text_1:not(:last-child) {
  margin-bottom: 67px;
}
.card-extensions__text_2:not(:last-child) {
  margin-bottom: 40px;
}
.card-extensions__button {
  height: 52px;
  padding: 20px 36px;
  text-align: center;
  display: flex;
  align-items: center;
  background: #4452FE;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: Graphik;
  font-size: 17px;
  font-weight: 400;
  line-height: 147.059%;
  /*25px*/
  letter-spacing: 0.2px;
  transition: all 0.2s ease-in;
}
.card-extensions__button:hover {
  transform: scale(1.1);
}
.card-extensions__button:active {
  transition: all 0.1s ease-in;
  transform: translateY(5px);
}
.card-extensions__button_1:not(:last-child) {
  margin-bottom: 57px;
}
.card-extensions__button_2:not(:last-child) {
  margin-bottom: 30px;
}
.card-extensions__img img {
  width: 100%;
  height: 100%;
}
.card-extensions__img_1 {
  width: 85%;
}
.card-extensions__img_2 {
  width: 80%;
}

.text-block__text_extensions {
  max-width: 582px;
}

@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
  .extensions__cards-container {
    flex-wrap: wrap;
  }
  .card-extensions {
    flex: 0 1 66%;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .card-extensions {
    flex: 0 1 80%;
  }
  .card-extensions__title:not(:last-child) {
    margin-bottom: 10px;
  }
  .card-extensions__text_1:not(:last-child) {
    margin-bottom: 35px;
  }
  .card-extensions__text_2:not(:last-child) {
    margin-bottom: 20px;
  }
  .card-extensions__button_1:not(:last-child) {
    margin-bottom: 35px;
  }
  .card-extensions__button_2:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 479.98px) {
  .card-extensions {
    flex: 0 1 100%;
  }
}
.gallery__container {
  padding: 0 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__text-block .text-block__text {
  max-width: 477px;
}
.gallery__btn {
  padding: 13.5px 40px;
}
.gallery:not(:last-child) {
  margin-bottom: 100px;
}

.gallery-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.gallery-content:not(:last-child) {
  margin-bottom: 44px;
}
.gallery-content__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.gallery-content__down {
  display: flex;
  justify-content: space-between;
}
.gallery-content__img {
  display: inline-flex;
}
.gallery-content__img img {
  border-radius: 12px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
  .gallery-content {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }
  .gallery-content__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px;
    justify-items: center;
    grid-row-gap: 20px;
  }
  .gallery-content__down {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    justify-items: center;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .gallery:not(:last-child) {
    margin-bottom: 0px;
  }
  .gallery-content__top {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 33px;
    padding: 0;
  }
  .gallery-content__down {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .gallery-content__img img {
    width: 100%;
  }
}
.partners:not(:last-child) {
  margin-bottom: 100px;
}
.partners__container {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__content {
  display: flex;
  justify-content: center;
  gap: 74px;
  flex-wrap: wrap;
}
.partners__content:not(:last-child) {
  margin-bottom: 50px;
}
.partners__top {
  display: flex;
  gap: 74px;
}
.partners__down {
  display: flex;
  gap: 74px;
}
.partners__button {
  padding: 13.5px 40px;
}
.partners .text-block__text {
  max-width: 547px;
}
.partners .text-block:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
  .partners__content {
    flex: 0 1 50%;
    gap: 50px;
    flex-direction: column;
  }
  .partners__top, .partners__down {
    justify-content: space-between;
    gap: 0;
  }
  .partners__down a:nth-child(1) {
    flex: 0 1 56px;
  }
  .partners__down a:nth-child(2) {
    flex: 0 1 47px;
  }
  .partners__down a:nth-child(3) {
    flex: 0 1 83px;
  }
  .partners__down img {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .partners:not(:last-child) {
    margin-bottom: 0px;
  }
}
.reviews:not(:last-child) {
  margin-bottom: 100px;
}
.reviews__container {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__content {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 23px;
}
.card-reviews {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
}
.card-reviews__title {
  display: flex;
  gap: 23px;
}
.card-reviews__name-block {
  display: flex;
  flex-direction: column;
}
.card-reviews__name, .card-reviews__profession {
  color: #FFF;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  /* 24%*/
  letter-spacing: 0.2px;
}
.card-reviews__text {
  color: #FFF;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24%*/
  letter-spacing: 0.2px;
}
.card-reviews__text_1 {
  max-width: 323px;
}
.card-reviews__text_2 {
  max-width: 341px;
}
.card-reviews__text_3 {
  max-width: 315px;
}
.card-reviews__text_4 {
  max-width: 347px;
}
@media (max-width: 1087px) {
  div[class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  div[class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  div[class*=__container] {
    max-width: none;
  }
  .reviews:not(:last-child) {
    margin-bottom: 0;
  }
  .reviews__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .card-reviews {
    padding: 25px;
  }
  .card-reviews:last-child {
    display: none;
  }
}
.btn {
  border: 1px solid #fff;
  background-color: inherit;
  color: #FFF;
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.059%;
  /* 25px */
  letter-spacing: 0.2px;
  transition: all 0.2s ease-in;
}
.btn_blue {
  background: #4452FE;
  border: none;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transition: all 0.1s ease-in;
  transform: translateY(5px);
}

.text-block__title {
  color: #FFF;
  padding: 10px;
  text-align: center;
  font-family: Graphik;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.231%;
  /*62px*/
  letter-spacing: 0.2px;
}
.text-block__text {
  color: #fff;
  text-align: center;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /*30px*/
  letter-spacing: 0.2px;
  margin: 0 auto;
  padding: 10px;
}

.card-small {
  max-width: 269px;
}
.card-small__title-container {
  display: flex;
  width: 269px;
}
.card-small__icon {
  padding: 19px 3px;
}
.card-small__title {
  padding: 10px;
  color: #FFF;
  font-family: Graphik;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  /* 30px */
  letter-spacing: 0.1px;
}
.card-small__text {
  display: inline-flex;
  color: #FFF;
  padding: 10px 0 0 10px;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24 */
  letter-spacing: 0.2px;
}

@media (max-width: 991.98px) {
  .btn:hover {
    transform: scale(1);
  }
  .btn:active {
    transition: all 0.1s ease-in;
    transform: translateY(3px);
  }
}
@media (max-width: 479.98px) {
  .text-block__title {
    font-size: 42px;
  }
}