.btn {
    border: 1px solid #fff;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    background-color: inherit;
    color: #FFF;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.059%;
    /* 25px */
    letter-spacing: 0.2px;
    transition: all 0.2s ease-in;
    &_blue {
        background: #4452FE;
        border: none;
    }

    &:hover {
        transform: scale(1.1)
    }

    &:active {
        transition: all 0.1s ease-in;
        transform: translateY(5px);
    }


}

.text-block {

    &__title {
        color: #FFF;
        padding: 10px;
        text-align: center;
        font-family: Graphik;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 119.231%;
        /*62px*/
        letter-spacing: 0.2px;

    }

    &__text {
        color: #fff;
        text-align: center;
        font-family: Graphik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /*30px*/
        letter-spacing: 0.2px;
        margin: 0 auto;
        padding: 10px;
    }

    &__button-container {
    }
}


@media (max-width: 991.98px) {
    .btn {
        &:hover {
            transform: scale(1)
        }

        &:active {
            transition: all 0.1s ease-in;
            transform: translateY(3px);
        }
    }



}