.text-block {
    &__title_possibilities {
        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }

    &__text_possibilities {
        max-width: 795px;
    }

    &:not(:last-child) {
        margin-bottom: 70px;
    }
}

.possibilities {

    &__container {
        padding: 162px 15px 162px;
    }

    &__content {
        width: 100%;
        display: flex;
    }

    &__img {
        flex: 0 1 68%;

    }

    &__cards-container {
        gap: 25px;
        flex: 0 1 32%;
        padding: 97px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    &__small-card {}
}

.card-small {

    &__title-container {}

    &__icon {}

    &__title {}

    &__text_width-3 {
        max-width: 202px;
    }
}



//PC
@media (max-width: 1087px) {
    div[class*=__container] {
        max-width: 970px;
    }

    .possibilities {


        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__img {
            flex: 0 1 100%;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        &__cards-container {
            gap: 0;
            flex: 0 1 100%;
            padding: 97px 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

        }

        &__small-card {}
    }

}

// TABLET
@media (max-width: 991.98px) {
    div[class*=__container] {
        max-width: 750px;
    }

    .possibilities {
        &__cards-container {
           flex-direction: column;
           align-items: center;
           gap: 25px;
        }
    }
}

//MOBILE
@media (max-width: 767.98px) {
    div[class*=__container] {
        max-width: none;
    }

    .possibilities {

        &__container {
            padding: 62px 15px 62;
        }
        &__cards-container {
            padding: 27px 0 0;
        }
    }

    .text-block {
        &__text_possibilities {
            max-width: 795px;
        }
        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }
}

//MOBILE SMALL
@media (max-width: 479.98px) {
    .possibilities {

        &__container {
            padding: 32px 0px 32px;
        }
    }

    .text-block {
        &__title_possibilities {
            font-size: 42px;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
}