.reviews {
    &:not(:last-child)
    {
        margin-bottom: 100px;
    }

    &__container {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 23px;
    }

    .text-block {

        &__title {}
    }

    &__card {}
}

.card-reviews {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;

    &__title {
        display: flex;
        gap: 23px;
    }

    &__name-block {
        display: flex;
        flex-direction: column;
    }

    &__name,
    &__profession {
        color: #FFF;
        font-family: Graphik;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        /* 24%*/
        letter-spacing: 0.2px;
    }

    &__text {
        color: #FFF;
        font-family: Graphik;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        /* 24%*/
        letter-spacing: 0.2px;

        &_1 {
            max-width: 323px;
        }

        &_2 {
            max-width: 341px;
        }

        &_3 {
            max-width: 315px;
        }

        &_4 {
            max-width: 347px;
        }
    }

    &__img {}
}

//PC
@media (max-width: 1087px) {
    div[class*=__container] {
        max-width: 970px;
    }

}

// TABLET
@media (max-width: 991.98px) {
    div[class*=__container] {
        max-width: 750px;
    }
}

//MOBILE
@media (max-width: 767.98px) {
    div[class*=__container] {
        max-width: none;
    }

    .reviews {
        &:not(:last-child)
        {
            margin-bottom: 0;
        }
        &__content {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }

    .card-reviews {
        padding: 25px;
        &:last-child {
            display: none;
        }
    }
}

//MOBILE SMALL
@media (max-width: 479.98px) {}